<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pls_Export_Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Pls_Export_Data.Properties.Settings>
            <setting name="LocalDataBase_Conn" serializeAs="String">
                <value>Database='hw';Data Source='192.168.1.55';User Id='gate'pls';Password='123456';charset='utf8';pooling=true;SslMode=none;
allowPublicKeyRetrieval=True;</value>
            </setting>
        </Pls_Export_Data.Properties.Settings>
    </userSettings>
</configuration>